* {
    font-family: 'Roboto', sans-serif;
}

#view{
}

#infotext{
    position: absolute;
    top: 50%;
    width: 40%;
    margin-left: 30%;
    font-size: 16pt;
}

@media (max-width: 1024px){
    #infotext{
        font-size: 20pt;
    }
}

#tooltip{
    position: absolute;
    height: 100px;
    width: 200px;
    display: none;
}